li {
    font-family: 'Balsamiq Sans', cursive;
    padding: 5px;
    margin: 5px;
}

.label {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
}

.create-update-form {
    font-family: 'Balsamiq Sans', cursive;
    padding: 5px;
    margin: 5px;
}

.form-group {
    font-family: 'Balsamiq Sans', cursive;
    margin-bottom: 5px;
}

.container {
    font-family: 'Indie Flower', cursive;
    padding-bottom: 30px;
    background-color: whitesmoke;
    background-image: url("./vm.png");
    background-repeat: no-repeat;
}

button {
    font-family: 'Indie Flower', cursive;
    color: tomato;
    font-size: large;
}

.jumbotron {
    text-align: center;
}